/*CSS-Datei*/
  #pane{
        -fx-background-image: url("Pics/SpeilSegmentMenu.png");  
         -fx-background-position: 52 -93; 
         -fx-background-repeat: stretch;
    
        -fx-background-size: 840 900;
       
    }

    #mainPane{
      -fx-background-image: url("Pics/DunkelmitGlühbirne.jpg"); 
      -fx-background-size: auto;
        
    }
    
  
    #light{
        -fx-background-image: url("Pics/light.jpg"); 
        -fx-background-size: 1055 830;
    }
    
    #elements{
        -fx-background-image: url("Pics/SpeilSegmentMenuButtons.jpg");
        
    }
    
    #scene{
        -fx-background-image: url("Pics/Dunkel.jpg"); 
        -fx-background-size: 1055 830;
       
    }
    
     #newAnchorPane{
        -fx-background-image: url("Pics/DunkelmitGlühbirne.jpg"); 
        -fx-background-position: 52 -93; 
       -fx-background-size: 1180 910;
     }
    
    #navigation{
       -fx-background-image: url("Pics/SpeilSegmentMenuButtons.jpg");
    
    }
    
      #level1{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level1PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }
      
      #level2{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level2PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }
      
      #level3{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level3PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }

       
      #level4{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level4PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }

       
      #level5{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level5PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }

       
      #level6{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level6PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }

       
      #newLevel{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/newLevelPNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }
      
      #elementsPane{
          -fx-background-image: url("Pics/SpeilSegmentMenuButtons.jpg");
      }
      
      #auswahl{
             -fx-background-image: url("Pics/SpeilSegmentMenu.png");  
         -fx-background-position: 360 -93; 
         -fx-background-repeat: stretch;
    
        -fx-background-size: 840 900;
       
      }