/*CSS-Datei*/
  
/*General Designs*/

.button {
    -fx-font-family: "Tw Cen MT Condensed Extra Bold";
    -fx-font-size: 20px;
    -fx-background-image: url("Pics/DarkBG.jpg");
    -fx-background-size: auto;
    -fx-text-fill: #ccffff;
    
}
.togglebutton {
    -fx-font-family: "Tw Cen MT Condensed Extra Bold";
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-font-size: 20px;
}

.button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:pressed{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.label{
    -fx-font-family: "Tw Cen MT Condensed Extra Bold";
    -fx-font-size: 27px;
    -fx-text-fill: #ccffff;
    -fx-z-index: 100;
}

/*Hintergrund generell */
#mainPane{
       -fx-background-image: url("Pics/DarkBG.jpg");
       -fx-background-size: auto;
}
/*############################################################################*/
                                    /* Menu*/

#level1{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level1PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }
      
      #level2{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level2PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }
      
      #level3{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level3PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }

       
      #level4{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level4PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }

       
      #level5{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level5PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }

       
      #level6{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/Level6PNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }

       
      #newLevel{
          -fx-background-color: transparent;
       -fx-background-image: url("Pics/newLevelPNG.png");
        -fx-background-size:150 150;
        -fx-background-repeat: no-repeat;
      }

#menuUberschrift{
    /*-fx-font-family: "Berlin Sans FB Demi Bold";*/
    -fx-font-size: 112px;
    -fx-text-fill: #f2c40d;
    -fx-font-weight: bold;
}

#label_challenge{
        -fx-font-size: 30px;
}
    
#label_edit{
        -fx-font-size: 30px;
}
/*################################################################################*/
                                /*Game*/
#controllPane{
    -fx-background-image: url("Pics/Spielsegment.png");
    -fx-background-size: stretch;
}
#playButton {
    -fx-font-family: "Tw Cen MT Condensed Extra Bold";
    -fx-font-size: 20px;
    -fx-background-image: url("Pics/DarkBG.jpg");
    -fx-background-size: auto;
    -fx-text-fill: #ccffff;
    
}

#scene{
        -fx-background-image: url("Pics/Dunkel.jpg"); 
        -fx-background-size: stretch;
       
}

/*################################################################################*/
                                /*Light*/
#sceneLight{
        -fx-background-image: url("Pics/light.jpg"); 
        -fx-background-size: stretch;
       
} 
#mainPaneLight{
       -fx-background-image: url("Pics/DarkBG.jpg");
       -fx-background-size: auto;
}